<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>Login Page</title>
</head>
<body>
    <div class="login_main">
        <b>Login Form</b>
        <br />
        <br />
        <div class="reg_form">
            <form action="/login" method="POST">
                <input type="text" name="email" id="email" placeholder="Your Email *">
                
                <br />
                <input type="password" name="password" id="password" placeholder="Password *">
                
                <br />
                <br />
                <div class="submit">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</body>
</html>