<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>Registration Page</title>
</head>
<body>
    <div class="reg_main">
        <b>Registration</b>
        <br />
        <br />
        <div class="reg_form">
            <form action="/register" method="POST">
                <input type="text" name="firstname" id="firstname" placeholder="First Name *">
                <input type="text" name="lastname" id="lastname" placeholder="Last Name *">
                
                <br />
                <input type="text" name="email" id="email" placeholder="Your Email *">

                <input type="radio" id="male" name="gender" value="male" checked>
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
                
                <br />
                <input type="text" name="phone" id="phone" placeholder="Your Phone *">
                <input type="text" name="age" name="age" placeholder="Enter Your Age *">
                
                <br />
                <input type="password" name="password" id="password" placeholder="Password *">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password *">
                
                <br />
                <br />
                <div class="submit">
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</body>
</html>